.body
    background-color: #F15A29;


}



h2{
    text-align: center;
background-color: 
}

.image1{
border-image-width: 100%;

}

.logo1{
    image:center;
    float: center;
    height: 150;





}







}



}

}
